.content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.content p {
  color: var(--white);
}

.content select {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: var(--heading2);
  text-align: center;
}

.content option {
  background: var(--accent2);
}

.content .status {
  color: var(--white);
  font-size: var(--heading1);
}

.content .multi-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.content .button-column {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  width: 250px;
}

.content button {
  color: white;
  background: transparent;
  border: none;
  font-size: var(--heading2);
}

.content button:disabled {
  display: none;
}

.content .circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column;
  vertical-align: top;
}

/* 円の大きさ */
.content .size {
  width: 75px;
  height: 75px;
  border: 3px solid var(--white);
}

/* --左側のテキスト--*/
.content .text-column {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .text-column p {
  font-size: var(--heading1);
  margin: 5px 0;
}

.content .mode-select {
  margin: 5px;
}

/* --右側のグラフ-- */
.content .chart-column {
  flex-grow: 1;
  font-size: var(--heading2);
}

.content .icon-column {
  display: flex;
  justify-content: flex-end;
}

.icon {
  font-size: var(--heading2); /* アイコンを大きくする */
  padding: 10px; /* クリック範囲を広げる */
  display: inline-block;
  color: var(--white);
}

.graph {
  background-color: var(--white);
}
