.setting-container {
  width: 300px;
}

.icon {
  color: var(--white);
}

.work-column,
.rest-column,
.category-column {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-column button,
.rest-column button,
.category-item button {
  border-radius: 0.375rem;
  padding-inline: 6px;
}

.work-column button:hover,
.rest-column button:hover,
.category-item button:hover {
  color: var(--white);
  background-color: var(--accent3);
  border-color: var(--white);
}

.category-column p {
  font-size: var(--heading2);
  margin: 0.375rem 0;
}

.category-container {
  display: flex;
  flex-direction: column;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-list p {
  font-size: var(--heading3);
  margin: 5px;
  color: var(--white);
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-item button {
  font-size: var(--body);
}

.input-category-list p {
  font-size: var(--heading3);
  color: var(--black);
  margin: 5px;
  background-color: var(--accent1);
  padding: 0 10px;
  border-radius: 0.375rem;
}

.output-category-list p {
  font-size: var(--heading3);
  color: var(--white);
  margin: 5px;
  background-color: var(--accent2);
  padding: 0 10px;
  border-radius: 0.375rem;
}

label {
  font-size: var(--heading2);
  color: var(--white);
}

.setting-container select {
  border: solid 1px var(--white);
}

.modal-content button {
  color: var(--black);
}

.modal-content label {
  color: var(--black);
}

.modal-content select {
  color: var(--black);
}

.modal-backdrop.show {
  z-index: 1 !important;
}

.btn-close {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.left-category-column {
  font-size: var(--heading2);
  color: var(--white);
}
