{% extends "app/index.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <section class="week">
            <div class="multi-column">
                <!-- 左側のテキスト -->
                <div class="text-column">
                    <span id="status-text" class="status">準備中</span>
                    <p id="countdown">--:--:--</p>
                    <button id="start-timer">作業開始</button>
                    <button id="pause-timer" disabled>一時停止</button>
                    <button id="resume-timer" disabled>再開</button>
                    <button id="reset-timer" disabled>リセット</button>
                    <script src="{% static 'javascript/timer.js' %}"></script>
                    <div class="mode-select">
                        <label for="mode-select"></label>
                        <select id="mode-select">
                            <option value="input" selected>インプット</option>
                            <option value="output">アウトプット</option>
                        </select>
                    </div>
                    <div class="category-select">
                        <label for="category-select"></label>
                        <select id="category-select">
                            {% for category in input_categories %}<option value="{{ category.id }}">{{ category.category }}</option>{% endfor %}
                        </select>
                        <script src="{% static 'javascript/category.js' %}"></script>
                    </div>
                    <button id="stop-rest-timer" disabled>休憩終了</button>
                </div>
                <!-- 右側のグラフ -->
                <div class="chart-column">
                    <a href="{% url 'summary' %}" class="icon">
                        <i class="fa-solid fa-chart-simple"></i>
                    </a>
                    <a href="{% url 'setting' %}" class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <a href="{% url 'account' %}" class="icon">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <p class="text-center">{{ today }}</p>
                    <canvas id="chart-week" class="graph"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="{% static 'javascript/graph.js' %}"></script>
                </div>
            </div>
        </section>
        <audio id="alarm-sound" src="{% static 'sound/timer-sound.mp3' %}"></audio>
    </div>
{% endblock content %}
