{% extends "app/index.html" %}
{% load static %}
{% block content %}
    <div class="home-container">
        <section class="week">
            <div class="multi-column">
                <!-- 左側のテキスト -->
                <div class="text-column">
                    <span id="status-text" class="status">準備中</span>
                    <p id="countdown">--:--:--</p>
                    <script src="{% static 'javascript/timer.js' %}"></script>
                    <div class="mode-select">
                        <label for="mode-select"></label>
                        <select id="mode-select">
                            <option value="input" selected>インプット</option>
                            <option value="output">アウトプット</option>
                        </select>
                    </div>
                    <div class="category-select">
                        <label for="category-select"></label>
                        <select id="category-select">
                            {% for category in input_categories %}<option value="{{ category.id }}">{{ category.category }}</option>{% endfor %}
                        </select>
                        <script src="{% static 'javascript/category.js' %}"></script>
                    </div>
                    <div class="button-column">
                        <button id="start-timer" class="circle size">
                            <i class="fa-solid fa-play"></i>
                        </button>
                        <button id="pause-timer" disabled class="circle size">
                            <i class="fa-solid fa-pause"></i>
                        </button>
                        <button id="resume-timer" disabled class="circle size">
                            <i class="fa-solid fa-play"></i>
                        </button>
                        <button id="reset-timer" disabled class="circle size">
                            <i class="fa-solid fa-stop"></i>
                        </button>
                        <button id="stop-rest-timer" disabled class="circle size">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <!-- 右側のグラフ -->
                <div class="chart-column">
                    <div class="icon-column">
                        <a href="{% url 'summary' %}" class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </a>
                        <a href="{% url 'setting' %}" class="icon">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <a href="{% url 'account' %}" class="icon">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </div>
                    <p class="text-center">{{ today }}</p>
                    <canvas id="chart-week" class="graph"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="{% static 'javascript/graph.js' %}"></script>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
