{% extends "app/index.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
  <img src="{% static 'images/313531 1.png' %}" alt="ストップウォッチの画像" class="clock-image">

  <h1>POMO TIMER</h1>
  <div action="" method="POST">
    {% csrf_token %}

    <div class="form-error">
      {{ form.non_field_errors }}
    </div>

    <div class="form-field">
      {{ form.username }}
    </div>

    <div class="error-message">
      {{ form.username.errors }}
    </div>

    <div class="form-field">
      {{ form.password }}
    </div>

    <div class="error-message">
      {{ form.password.errors }}
    </div>


    <button type="submit" class="btn-primary">ログイン</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div class="div">
    <span class="text">新規登録は</span>
    <a href="{% url 'signup' %}" class="link">こちら</a>
  </div>
{% endblock content %}