{% extends "app/index.html" %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}

    <div>
      <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      {{ form.username }}
      <div>{{ form.username.errors }}</div>
    </div>

    <div>
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
      <div>{{ form.email.errors }}</div>
    </div>

    <div>
      <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
      {{ form.password1 }}
      <div>{{ form.password1.errors }}</div>
    </div>

    <div>
      <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
      {{ form.password2 }}
      <div>{{ form.password2.errors }}</div>
    </div>

      

    <button type="submit">登録</button>
  </form>
  <div>
    <a href="{% url 'login' %}">ログイン画面にもどる</a>
  </div>
  {% endblock content %}