{% extends "app/index.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <img src="{% static 'images/timer-icon.png' %}" alt="タイマーのアイコン" class="clock-image">
    
      <form method="post" novalidate>
        {% csrf_token %}
    
        <div class="form-field">
          <label for="{{ form.username.id_for_label }}" class="form-label">
            {{ form.username.label }}
          </label>
          <div class="form-input">
            {{ form.username }}
          </div>
          {% include 'app/error_messages.html' with errors=form.username.errors %}
        </div>
    
        <div class="form-field">
          <label for="{{ form.email.id_for_label }}" class="form-label">
            {{ form.email.label }}
          </label>
          <div class="form-input">
            {{ form.email }}
          </div>
          {% include 'app/error_messages.html' with errors=form.email.errors %}
        </div>
    
        <div class="form-field">
          <label for="{{ form.password1.id_for_label }}" class="form-label">
            {{ form.password1.label }}
          </label>
          <div class="form-input">
            {{ form.password1 }}
          </div>
          {% include 'app/error_messages.html' with errors=form.password1.errors %}
        </div>
    
        <div class="form-field">
          <label for="{{ form.password2.id_for_label }}" class="form-label">
            {{ form.password2.label }}
          </label>
          <div class="form-input">
            {{ form.password2 }}
          </div>
          {% include 'app/error_messages.html' with errors=form.password2.errors %}
        </div>
    
        <button type="submit" class="btn-auth">登録</button>
      </form>
      <div class="center-text">
          <a href="{% url 'login' %}" class="link-login">ログイン画面にもどる</a>
      </div>
</div>
{% endblock content %}