body{
    background-color: aqua !important;
}

.container{
    padding-top: 20px;
}

.sec-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.sec-btns button {
    width: 20%;
    height: 45px;
    font-weight: bold;
}
button.btn_page_back{
    width: 20px;
    background: none;
    border: none;
    font-size: 2em;
}

.btn-week {
    color: #000;
    background-color: #AFDFF8;
    border: 1px solid hsl(0, 0%, 0%);
}

.btn-month {
    color: #fff;
    background-color: #308AF8;
    border: 1px solid #000;
}

.btn-year {
    color: #fff;
    background-color: #0C2D8E;
    border: 1px solid #000;
}

#chart{
    background-color: #fff;
}
#chart_ratio {
    margin: -30px;
}
#prev_period, #next_period {
    background: none;
    border: none;
}